.image1 {
  display:block;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  top: 100px

}

.image2 {
  display:block;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  top: 400px

}



.image3 {
  display:block;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  top: 500px

}
